.spa-button {
    background-color: #4F9EC4;  
    color: #fff;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 500;
  }
  
  .spa-button:hover {
    background-color: #256D85;  /
  }
  
  .spa-button:disabled {
    background-color: #A0D2EB; 
    cursor: not-allowed;
    opacity: 0.7;
  }